a{
    background-attachment: 10
  }

body {
    background-color: red;
}

h2{
    background-color:blue;
  }

p {
    paddling: 12px;
    margin: 12px;
    font-size: 12pt;
    font-weight: bold;
    border: thin groove #000;
    width: 350px;
}